@model PedidoCigarro.Models.Corredor

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.IdCorredor, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.IdCorredor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NomeCorredor, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.NomeCorredor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Carro, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Carro, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QtdePedidos)
        @Html.EditorFor(model => model.QtdePedidos, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>

    <div class="container mb-3">
        <div class="row">
            <div class="col">
                @Html.ActionLink("Editar", "Editar", new { id = Model.IdCorredor }, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
            <div class="col">
                @Html.ActionLink("Voltar", "Index", "Corredor", new { @class = "btn btn-secondary btn-lg btn-block" })
            </div>
        </div>
    </div>
}
