@model PedidoCigarro.Models.Corredor

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.IdCorredor, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.IdCorredor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        @Html.HiddenFor(model => model.IdCorredor)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NomeCorredor, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.NomeCorredor, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Carro, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Carro, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QtdePedidos)
        @Html.EditorFor(model => model.QtdePedidos, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <input type="submit" value="Salvar Alterações" class="btn btn-success btn-lg btn-block" />
            </div>
            <div class="col">
                @Html.ActionLink("Voltar", "Index", "Corredores", new { @class = "btn btn-secondary btn-lg btn-block" })
            </div>
        </div>
    </div>
}


